<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}MiniPress
		{% endblock %}
	</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<header>
		<h1>MiniPress Admin</h1>
	</header>

	<nav>
		<ul>
			{% if isAuthenticated %}
			<li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
			{% else %}
			<li><a href="{{url_for('register') }}">S'enregistrer</a></li>
			<li><a href="{{url_for('login') }}">Connexion</a></li>
			{% endif %}
		</ul>
		<hr>
		<ul>
			<li><a href="{{ url_for('accueil')}}">Accueil</a></li>
			<li><a href="{{ url_for('categories') }}">Categories</a></li>
			<li><a href="{{ url_for('articles') }}">Articles</a></li>
			<li><a href="{{ url_for('article_create') }}">Creer un'Article</a></li>
		</ul>
	</nav>

	<main>
		{% block content %}{% endblock %}
	</main>

	<footer></footer>
</body>

</html>