<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MiniPress</title>
</head>
<body>
    <h1>Welcome to MiniPress</h1>
    <a href="/articles/creer">Créer un article</a>
</body>
</html>
